html, body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(183, 172, 172);
}

.game-container {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    border: 2px solid black;
    width: 90%;
    height: 88%;
    display: block;
    object-fit: contain;
}

#youLostMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9); /* Fondo semitransparente */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display:none; 
}

#youWonMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9); /* Fondo semitransparente */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display:none; 
}

.overlay h2 {
    color: white;
    font-size: 4vw;
    margin-bottom: 20px;
}

.overlay h3 {
    color: white;
    font-size: 2vw;
    margin-bottom: 10px;
}

button {
    width: 80%;
    padding: 10px;
    font-size: 2vw;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.green-button {
    background-color: green;
    color: white;
}

.red-button {
    background-color: red;
    color: white;
}

@keyframes scoreFade {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}

#leaderboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 1);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

#leaderboard h2 {
    margin: 0;
    text-align: center;
    font-size: 3rem;
}

#leaderboardList {
    list-style: none;
    padding: 0;
}

#leaderboardList li {
    padding: 5px 0;
    font-size: 1rem;
}


.score-effect {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    color: red;
    pointer-events: none;
    opacity: 0;
}


